menu{
  display: flex;
  flex-direction: row !important;
  background-color: green;
}
main {
  padding: 2rem;
  background-color: rgb(115, 245, 154);
  margin: none;
}
header{
    background-color: green;
    flex: .1;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: left;
    padding-right: 30px;
}
nav {
  background-color: green;
  flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: left;
}
h1 {
  font-family: "brush script mt";
  font-size: 8em;
  color: black;
  margin: auto;
  margin-left: 50px;
  font-weight: normal;
}
h2 {
    font-family: "lucida handwriting";
    font-weight: normal;
    position: right;
    border-bottom: solid thin white;
    margin: 0;
    margin-bottom: .5em;
}
h1 img {
    position: relative;
    top: 10px;
}
li{
  list-style-type: none;
  font-size: 1.5em;
  padding: 1rem;
  font-family:serif;
}

a {
  color: rgb(30, 40, 20)!important;
  text-decoration: none!important;
}

footer {
  flex: .2;
  display: flex;
  border-top: solid thin white;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background-color: green;
  color: rgb(200, 230, 50);
}

div {
  background-color: rgb(115, 245, 154);
  border: none;
}

.btn-primary {
  --bs-btn-bg: green !important;
  --bs-btn-border-color: green !important;
  --bs-btn-hover-bg: rgb(7, 102, 7);
  --bs-btn-hover-border-color: rgb(7, 92, 7);
  --bs-btn-active-bg: rgb(7, 102, 7);
  --bs-btn-active-border-color: rgb(7, 102, 7);
  --bs-btn-disabled-bg: green;
  --bs-btn-disabled-border-color: green;
}